.body,
p {
  font-family: "Montserrat", sans-serif;
  color: #808080;
}
li {
  list-style-type: none;
}
a {
  color: #fff !important;
}

#title {
  background-color: #ff4c68;
  color: #fff;
  width: 100%;
}

/* Navbar */
svg{
  color: #fff !important;
}

.navbar-toggler-icon{
  display: contents !important;
}

.main {
  margin: 80px auto 40px !important;
  flex-direction: column;
  gap: 40px;
  align-items: center;
}
.hero-col{
  text-align: center;
}
.hero-col h1{
 line-height: 1.6;
}
.hero-btn-cont{
  padding: 0 !important;
  margin: 20px auto 0;
  text-align: center;
}
.feature-text {
  font-size: 20px !important;
}

#feature-card {
  text-align: center !important;
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 33%;
}


.phone-img-inner {
  width: 50%;
  margin: 0 auto;
}
/* Download Button */

.iphone-img {
  transform: rotate(25deg);
  width: 100%;
}

/* Features */
#features {
  width: 100%;
  margin: 50px auto;
  padding: 50px 0;
}

.features-slot-main {
  margin: 60px auto !important;
}

.inner-main {
  width: 80%;
  margin: 0 auto;
}

.feature-icon {
  color: #ff4c68;
  font-size: 2rem;
  padding-bottom: 30px;
}

.feature-box{
  text-align: center;
}
/* Hover Effects */
.check-icon:hover {
  color: #00c903;
}

.target-icon:hover {
  color: #000;
}

.heart-icon:hover {
  color: #ff0000;
}

#features h3 {
  font-size: 30px;
  text-align: center;
  color: #ff4c68;
}

.check-txt,
.target-txt {
  margin-bottom: 3.9rem;
}

.heart-txt {
  margin-bottom: 1.1rem;
}

#features p {
  text-align: center;
}

#feature-card {
  padding: auto 20rem;
}

/* Testimonials */
#testimonials {
  background-color: #ff4c68;
  color: #fff;
  padding: 20px 0;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

#testimonials img {
  border-radius: 50%;
  width: 17%;
}

/* Slideshow */
.carousel-item {
  padding: 7% 15%;
}

.slide-btn {
  margin-left: 1%;
}

/* Press */
#press {
  background-color: #ff4c68;
  text-align: center;
  padding: 30px 0;
}

.press-inner{
  margin: 30px auto;
}

.press-inner img{
  border-radius: 0 !important;
  width: 100% !important;
}
.press-img{
  width: 15%;
}

/* Pricing */
#pricing {
  text-align: center;
  color: #ff4c68;
  margin: 50px auto;
}

#pricing h2 {
  font-size: 30px;
  margin: 20px auto;
}

.row {
  justify-content: center;
}
.card{
  margin: 20px auto;
}
.price-cards {
  margin: auto 1rem;
}
.card-body p {
  line-height: 40px;
}
.card-header {
  padding-right: 0.75rem 1.25rem;
  margin: auto -0.8rem;
}

.btn-outline-danger {
  color: #dc3545 !important;
}
.btn-outline-danger:hover {
  color: #fff !important;
}

/* Call To Action */
#cta {
  background-color: #ff4c68;
  text-align: center;
  padding: 3rem 0rem;
}

#cta h3 {
  color: #fff;
  font-size: 50px;
}

#cta .cta-download {
  padding: 3rem 0rem;
}

#cta .cta-dwnld-btn {
  margin-left: 1rem;
}

/* Footer */
#footer {
  text-align: center;
  padding: 5rem 0rem 1rem;
}

#footer i {
  font-size: 2rem;
  padding: 0rem 0.5rem;
  cursor: pointer;
}
.social-icons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

#footer p {
  padding-top: 2rem;
  font-size: 20px;
}
#footer h3 {
  font-size: 20px;
}
.foot-link {
  color: #dc3545 !important;
}
#footer .twt:hover {
  color: #00acee;
}

#footer .fb:hover {
  color: #3b5998;
}

#footer .ig:hover {
  color: #f52779;
}

#footer .yt:hover {
  color: #ff1717;
}

#footer .gm:hover {
  color: #d91e1e;
}

#footer h3 i:hover {
  color: red;
}

@media (max-width: 992px) {
  .col-lg-3 {
    width: 30% !important;
  }
  .card{
    width: 60% !important;
  }
}
@media (max-width: 768px) {
  .phone-img-inner{
    width: 25;
  }
  .feature-icon{
    font-size: 25px;
  }
  .features-slot-main{
    text-align: center;
    padding: 30px 0;
    margin: 20px auto;
  }
  .card{
    width: 60% !important;
  }

  #cta h3{
    font-size: 30px;
  }

  #footer i{
    font-size: 25px;
  }
  #footer p, #footer h3{
    font-size: 15px;
  }
}

@media (max-width:425px) {
 
  button{
   display: block !important;
   margin: 10px auto !important;
  }
  h3,.carousel-item h2{
    font-size: 24px !important;
  }
  .press-inner{
    flex-direction: column;
  } 
  .press-img{
    width: 30%;
  }
  .card{
    width: 80% !important;
  }
  #cta{
    padding: 40px 0;
  }
  #footer{
    padding: 30px 0;
  }

  #footer i{
    font-size: 20px;
  }
  
  #footer h3, #footer p{
    font-size: 15px !important;
    padding: 0;
    margin: 5px auto;
  }
}
